
h1{
    text-align: center;
    color: red;
    background-color: lightgray;
}

p{
    background-color: aqua;
}

body{
    background-color: yellow;
}

/*
selector{
    property: value;
}
*/
<!-- This is class selector-->
.bd-color-red{
    color: red;
}

.bd-color-green{
    color: green;
    text-align: center;
}