
/*h1{
    text-align: center;
    color: red;
    background-color: lightgray;
}

p{
    background-color: aqua;
}
*/

body{
    background-image: url('../assets/img1-flower.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    
}

/*
selector{
    property: value;
}
*/
<!-- This is class selector-->

.bd-color-red{
    color:red;
    font-family: 'Courier New', Courier, monospace;
}

.bd-color-green{
    color: green;
    text-align: center;
    font-size: small;
    letter-spacing: 5ch;
    /*padding-bottom: 50px;*/
   /* padding: 50px;*/
   padding: 50px 0px 50px 0px;
  /* padding-left: 50px;*/
  /*padding-top: 50px;*/
  /*padding-right: 50px;*/
    margin: 50px;
}

#pg-background{
    background-color: lightgray;
}

*{
    background-color: rgb(196, 196, 93);
   
}

.bd-color-h1{
    color: rgb(228, 96, 96);
    text-align: center;
}
#Box01{
    width: 50px;
    height: 50px;
    background-color: brown;
    position: absolute;
    top: 250px;
    left: 150px;
}

#Box02{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background-color: blue;
    position: relative;
    margin-left: 100px;
    border-radius: 6px;
    border-style: dotted;
}

#Circle01{
    background-color: chartreuse;
    position: static;
    top: 10px;
    border-radius: 50%;
    z-index: -1;
}