
/*h1{
    text-align: center;
    color: red;
    background-color: lightgray;
}

p{
    background-color: aqua;
}

/*
body{
    background-color: yellow;
}*/

/*
selector{
    property: value;
}
*/
<!-- This is class selector-->

.bd-color-red{
    color:red;
    font-family: 'Courier New', Courier, monospace;
}

.bd-color-green{
    color: green;
    text-align: center;
    font-size: small;
    letter-spacing: 5ch;
    /*padding-bottom: 50px;*/
   /* padding: 50px;*/
   padding: 50px 0px 50px 0px;
  /* padding-left: 50px;*/
  /*padding-top: 50px;*/
  /*padding-right: 50px;*/
    margin: 50px;
}

#pg-background{
    background-color: lightgray;
}

*{
    background-color: rgb(196, 196, 93);
   
}

.bd-color-h1{
    color: rgb(228, 96, 96);
    text-align: center;
}